@model RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog' a Kaydol</title>
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Content/validation-summary.css" rel="stylesheet" />
</head>

@using (Html.BeginForm("Register","Register",FormMethod.Post))
{
    <body class="bg-gradient-primary">
        <div class="container">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Hesap Oluştur!</h1>
                                </div>
                                <form class="user">
                                    @Html.ValidationSummary(false)
                                    <hr />
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            @Html.TextBoxFor(model => model.Firstname, new { @class = "form-control form-control-user", type = "text", id = "exampleFirstName", placeholder = "Ad" })
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control form-control-user", type = "text", id = "exampleLastName", placeholder = "Soyad" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-user", type = "email", id = "exampleInputEmail", placeholder = "E-posta" })
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control form-control-user", type = "password", id = "exampleInputPassword", placeholder = "Şifre" })
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.RepeatPassword, new { @class = "form-control form-control-user", type = "password", id = "exampleRepeatPassword", placeholder = "Şifre tekrar" })
                                        </div>
                                    </div>
                                    <input type="submit" value="Blog' a Kaydol" class="btn btn-primary btn-user btn-block" />
                                    <hr>
                                    <input type="submit" value="Google Hesabın ile Kaydol" class="btn btn-google btn-user btn-block"/>
                                    <hr />
                                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Facebook Hesabın ile Kaydol
                                    </a>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Şifrenizi mi unuttunuz?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="~/Views/Login/Login.cshtml">Zaten bir hesabınız var mı? </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/js/sb-admin-2.min.js"></script>
    </body>
}
</html>
